            
            body{
                background-color: rgb(0, 148, 64);
                font-family: Arial;
                margin: 0;
                padding: 20px;
                color: white;
            }

            p{}

            table{
                width: 100%;
                background: rgb(255, 255, 255);
                border-collapse: collapse;
                text-align: center;
            }

            h1{
                background: rgb(255, 203, 0);
                border-radius: 10px;
                height: 60px;
                padding-top: 20px;
                text-align: center;
                color: rgb(1, 33, 105);
            }

            h2,h3{
                background: rgb(1, 33, 105);
                border-radius: 10px; 
                height: 30px;
                padding-top: 5px;
                text-align: center;
                color: white;
            }

            th {
                background: rgb(255, 203, 0);
                color: rgb(1, 33, 105);
                
            }

            img{
                display: block;
                margin: auto;
                border-radius: 20px;
            }

            
            input[type="submit"]{
                background: rgb(1, 33, 105);
                color: white;
            }
            
            form{
                color: rgb(1, 33, 105);
            }
            
            
        